USE [master]
GO
/****** Object:  Database [QLTV_BT]    Script Date: 28/09/2024 12:37:03 AM ******/
CREATE DATABASE [QLTV_BT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTV_BT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HANH\MSSQL\DATA\QLTV_BT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTV_BT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HANH\MSSQL\DATA\QLTV_BT_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV_BT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV_BT]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 28/09/2024 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[usename] [varchar](20) NOT NULL,
	[pass] [char](20) NULL,
	[confirm] [char](20) NULL,
 CONSTRAINT [pk_us] PRIMARY KEY CLUSTERED 
(
	[usename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTT]    Script Date: 28/09/2024 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTT](
	[MaDocGia] [nvarchar](10) NOT NULL,
	[pass] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLDocGia]    Script Date: 28/09/2024 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLDocGia](
	[MaDocGia] [nvarchar](10) NOT NULL,
	[TenDocGia] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [pk_DocGia] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLSACH]    Script Date: 28/09/2024 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLSACH](
	[MaSach] [nvarchar](10) NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](20) NULL,
	[TacGia] [nvarchar](30) NULL,
	[SoLuong] [nvarchar](20) NULL,
	[TinhTrang] [nvarchar](20) NULL,
 CONSTRAINT [pk_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLyMuonSach]    Script Date: 28/09/2024 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLyMuonSach](
	[MaDocGia] [nvarchar](10) NULL,
	[MaSach] [nvarchar](10) NULL,
	[NgayMuon] [varchar](10) NULL,
	[NgayHenTra] [varchar](10) NULL,
	[NgayTra] [varchar](10) NULL,
	[TTMuon] [nvarchar](20) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTT]  WITH CHECK ADD  CONSTRAINT [fk_MS_DG] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[QLDocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[ACCOUNTT] CHECK CONSTRAINT [fk_MS_DG]
GO
USE [master]
GO
